<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
    <title>Instalador</title>
</head>
<body class="container-fluid">

    <div class="">
        <h3 class="text-center text-success m-3">Bem-vindo(a) ao Instalador</h3>
        <p class="text-center">
            Este instalador tem como objetivo instalar os programas padrões utilizados na secretaria de educação do Municipio NULL
        </p>
    </div>

    <div class="fixed-bottom bg-secondary bg-opacity-25 p-3">
        <footer class="container">
            <div class="row">
                <div class="col-6">
                    <p class="text-black-50 text-opacity-25">Version: alpha 0.0.1</p>
                </div>
                <div class="col-6 text-end">
                    <button type="button" class="btn btn-sm pe-lg-5 ps-lg-5 btn-outline-success">Avançar</button>
                    <button type="button" class="btn btn-sm pe-lg-5 ps-lg-5 btn-outline-danger">Cancelar</button>
                </div>
            </div>
        </footer>
    </div>

    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>